---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

 body{
    font-family: 'Roboto', sans-serif;
} 

body{
    justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    color: #2E2E2E
} 
